# Example of use of pyplan-core library in jupyter notebook

### Here is a simple model using data about COVID-19 


---

In [0]:
!pip install pandas==0.25.3
!pip install --upgrade pyplan-core

In [0]:
#Import and instance Pyplan 
from pyplan_core.pyplan import Pyplan
pyplan = Pyplan()

In [3]:
#Use included .ppl model file por sample purposes
filename = pyplan.sample_models.use_of_pyplan_core()
filename

'/usr/local/lib/python3.6/dist-packages/pyplan_core/sample_models/Sample for Pyplan Core.ppl'

In [0]:
#Open the model
pyplan.openModel(filename)

In [5]:
#Show list of nodes in model
pyplan.getNodeList()

            node_id             title     class               module_id
0       data_source       Data source  variable  sample_for_pyplan_core
1  cases_by_country  Cases by Country  variable  sample_for_pyplan_core
2      country_list      Country List  variable  sample_for_pyplan_core
3  country_selector  Country Selector  decision  sample_for_pyplan_core
4    total_of_cases    Total of Cases  variable  sample_for_pyplan_core

In [6]:
#Get node result
df = pyplan.getResult("total_of_cases")
df

                Country        Lat         Lon  Total
0             Australia -25.000000  133.000000   6754
1               Austria  47.516200   14.550100  15452
2                Canada  60.001000  -95.001000  53977
3                 China  30.592800  114.305500  83944
4               Denmark  56.000000   10.000000   9356
..                  ...        ...         ...    ...
182  West Bank and Gaza  31.952200   35.233200    344
183      Western Sahara  24.215500  -12.885800      6
184               Yemen  15.552727   48.516388      6
185              Zambia -13.133897   27.849332    106
186            Zimbabwe -19.015438   29.154857     40

[187 rows x 4 columns]

In [7]:
#Show top 10 Countries
df = df.sort_values(["Total"], ascending=False).head(10)
df

            Country        Lat         Lon    Total
17               US  40.000000 -100.000000  1056402
161           Spain  40.463667   -3.749220   239639
10            Italy  41.871900   12.567400   205463
16   United Kingdom  55.000000   -3.000000   172478
6            France  46.227600    2.213700   166628
7           Germany  51.165700   10.451500   162375
174          Turkey  38.963700   35.243300   120204
13           Russia  61.524000  105.318800   106498
90             Iran  32.427908   53.688046    94640
3             China  30.592800  114.305500    83944

In [0]:
#Close modelal
pyplan.closeModel()

You can see the model used in this example [by clicking here](https://my.pyplan.org/#shared/49df9b20-39b4-4466-b10c-6920e6990d50)