In [ ]:
##Uncomment this line if you need to install pyplan-core library
#import sys
#!{sys.executable} -m pip install pyplan-core

In [1]:
#Import and instance Pyplan 
from pyplan_core.pyplan import Pyplan
pyplan = Pyplan()

In [2]:
#Use included .ppl model file por sample purposes
filename = pyplan.sample_models.use_of_pyplan_core()
filename

'/my/anaconda3/lib/python3.7/site-packages/pyplan_core/sample_models/Sample for Pyplan Core.ppl'

In [3]:
#Open the model
pyplan.openModel(filename)

In [4]:
#Show list of nodes in model
pyplan.getNodeList()

            node_id             title     class               module_id
0       data_source       Data source  variable  sample_for_pyplan_core
1  cases_by_country  Cases by Country  variable  sample_for_pyplan_core
2      country_list      Country List  variable  sample_for_pyplan_core
3  country_selector  Country Selector  decision  sample_for_pyplan_core
4    total_of_cases    Total of Cases  variable  sample_for_pyplan_core

In [5]:
#Get node result
df = pyplan.getResult("total_of_cases")
df

                Country        Lat         Lon  Total
0             Australia -25.000000  133.000000   6746
1               Austria  47.516200   14.550100  15402
2                Canada  60.001000  -95.001000  52228
3                 China  30.592800  114.305500  83940
4               Denmark  56.000000   10.000000   9206
..                  ...        ...         ...    ...
180  West Bank and Gaza  31.952200   35.233200    344
181      Western Sahara  24.215500  -12.885800      6
182               Yemen  15.552727   48.516388      1
183              Zambia -13.133897   27.849332     97
184            Zimbabwe -19.015438   29.154857     32

[185 rows x 4 columns]

In [ ]:
#Show top 10 Countries
df = df.sort_values(["Total"], ascending=False).head(10)
df

In [6]:
#Close modelal
pyplan.closeModel()